* {
    font-family: 'Roboto';
    color: white;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
}
header li {
    color: #E5E7Eb;
    font-size: 18px;
}
header p {
    font-size: 29px;
    color: #f9faf8;
}
body {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
}
h1 {
    font-size: 48px;
    margin-left: 20px;
}
ul {
    display: flex;
    margin-right: 40px;
    gap: 10px;
}
.logo {
    margin-left: 40px;
}
.middle {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: #f9faf8;
    width:100%;
}
.middle p {
    margin: 0 20px;
    color: #E5E7Eb;
    font-size: 18px;
}
li {
    list-style-type: none;
}
.middle img {
    width: 30%;
    margin: 5%;
}
.pictures {
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.information {
    width:20%;
    margin: 10px;
    text-align: center;
}
.information p {
    color: black;

}
.information img {
    border: #3882F6 3px solid;
    border-radius: 10px;
    width: 100px;
}
.after-middle {
    background-color: white;
    padding:20px;
}
.after-middle h2 {
    color: black;
    text-align: center;
}
.quote {
    background-color: #e5e7eb;
    padding:20px;
}
.quote p {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
}
.quote h4 {
    text-align: center;
    color: #1f2937;
    font-size: 20px;
}
.action {
    background-color: white;
}
.bluebubble {
    background-color: #3882F6;
    margin: 50px 80px;
    padding: 10px;
    border:#3882F6 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.bluebubble .title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.bluebubble p {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}
button {
    background-color: #3882F6;
    border: white solid 1px;
    font-size: 20px;
    margin-right: 50px;
    border-radius: 5px;
    padding: 10px 30px;
}
.copyright {
    margin: 10px;
    font-weight: 200;
    text-align: center;
}